@define-color accent_color #5f5791;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #5f5791;
@define-color window_bg_color #fdf8ff;
@define-color window_fg_color #1c1b20;
@define-color headerbar_bg_color #ddd8e0;
@define-color headerbar_fg_color #1c1b20;
@define-color popover_bg_color #ddd8e0;
@define-color popover_fg_color #1c1b20;
@define-color view_bg_color #fdf8ff;
@define-color view_fg_color #1c1b20;
@define-color card_bg_color #fdf8ff;
@define-color card_fg_color #1c1b20;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
