@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
  background-color: #FFE1EA;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ebdbb2;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @surface2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #FFE1EA;
  font-size: 7px;
}

#workspaces button.active {
  color: #FCB9FF;
  font-size: 12px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #FFE1EA;
  box-shadow: inset 0 -3px #ffffff;
}

#tray,
#custom-notification,
#custom-wlsunset,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#group-things,
#pulseaudio {
  padding: 0 10px;
  font-size: 12px;
}

#pulseaudio {
  color: #FFF;
}

#temperature {
  color: #FFF;
}

#battery {
  color: @g;
}

#clock {
  color: #634e63;
  font-weight: 800;
  font-size: 12px;
}

#window {
  color: #FFE1EA;
  margin-left: 20px;
  font-size: 12px;
}

#custom-wlsunset {
  color: #FFF;
}

#custom-notification {
  color: #FFF;
}
#custom-exit{
  color: #FFF;
  margin-left: 10px;
  margin-right: 10px;
}
#group-things{
  color: #FFF;
}

#tray {
  color: #FFF;
}


.modules-right,
.modules-left{
  background-color: #9D9DFF;
  border-radius: 10px;
  margin: 5px;
}

.modules-center {
  background-color: #C8D0FF;
  border-radius: 10px;
  margin: 5px
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 10px;
}


.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}
